$backgraund-color: #f0f2f5;
$backgraund-color-secundary: #ffffff;

$primary: #166fe5;

$button-create: #36a420;

$back-search-butons: #e4e6eb;

$back-hover: #b7b8b8;

$color-logo: #4630ac;

$color-1: #1a1a1a;
$color-2: #fefefe;
