@import "colors";

.container-search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 0.5rem;
    background-color: $backgraund-color;
}

