@import "colors";


.body-user{
    background-color: $backgraund-color-secundary;
    line-height: 3rem;
    border: 5px solid $backgraund-color;

}
.card-user {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 75%;

  .cover-img {
    width: 100%;
    height: 18rem;
    border-radius: 0px 0px 10px 10px;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-radius: 0px 0px 10px 10px;
    border: 0px solid #000000;
    background: rgb(108, 109, 110);
    background: linear-gradient(
      0deg,
      rgba(108, 109, 110, 1) 0%,
      rgba(240, 242, 245, 1) 24%
    );

    .icon-img-cover{
        text-align: end;
        font-size: 2rem;
        margin-top: 1rem;
        margin-right: 2rem;
        background-color: transparent;
    }

    .icon-img-cover:hover{
        cursor: pointer;
        color: $color-logo;
    }
  }
  .nav-user {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 5px;
    line-height: 2rem;
    padding: 5px;
    background-color: $backgraund-color;

    .iten-nav-user {
      all: unset;
      cursor: pointer;
      color: $color-logo;
      font-weight: 700;
      
    }
  }
  .nav-img-name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .user-avatar{
    border-radius: 50%;
    width: 70%;
    border: 2px solid white;
    margin-top: -50%;
    margin-left: 1rem;
  }
  .name-user{
    font-size: 2rem;
    font-weight: 700;
    margin-left: -40rem;

  }
  .icon-img-user{
    font-size: 1.5rem;
    color: gray;
    background: transparent;
    margin-top: -4rem;
    margin-left: 7.5rem;
  }

  .icon-img-user:hover{
   cursor: pointer;
   color: $color-logo;
  }




  .btn-edit-profile{
    border-radius: 5px;
    border: none;
    width: 12rem;
    line-height: 2rem;
    background: #e4e6eb;
    font-weight: 600;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    cursor: pointer;
  }
  .btn-edit-profile:hover{
    background-color: $color-logo;
    color: white;
    font-size: 1rem;
  }


}
