@import "colors";

.container-post {
  display: flex;
  flex-direction: column;
  border-radius: 0.8rem;
  border: 1px solid rgb(209, 209, 209);
  background-color: $backgraund-color-secundary;
  margin-top: 1rem;

  .container-head-post {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    margin-left: 0.5rem;
  }

  .container-post {
    line-height: 8rem;

  }
  .ico-lke{
    color: $color-logo;
  }

  .container-counter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .like-length {
      font-size: 0.8rem;
      color: gray;
      align-items: center;
      margin-left: 0.5rem;
    }
    .comment-length {
      font-size: 0.8rem;
      color: gray;
      align-items: center;
      margin-right: 0.5rem;
    }
  }

  .container-like-comment-delete {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .avatar-user {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 0.2rem;

  }
}
