@import "colors";

.container-post {
  display: flex;
  flex-direction: column;
  border: 2px solid rgb(11, 87, 24);
  border-radius: 0.8rem;
  background-color: $backgraund-color-secundary;
  margin-top: 1rem;

  .container-head-post {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .container-post {
    line-height: 8rem;
  }

  .container-counter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .like-length {
      font-size: 0.8rem;
      color: gray;
      align-items: center;
      margin-left: 0.5rem;
    }
    .comment-length {
      font-size: 0.8rem;
      color: gray;
      align-items: center;
      margin-right: 0.5rem;
    }
  }

  .container-like-comment {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
