@import "colors";


.container-home {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
  gap: 0.5rem;
  background-color: $backgraund-color;

  .sidebar-left {
    width: 35%;
    margin-left: 0.5rem;
  }
  .sidebar-rigth {
    width: 35%;
    margin-right: 0.5rem;
    margin-top: 0.5rem;

  }
  .posts {
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 0.5rem;
    margin-top: 1.5rem;


    .create-post {
      height: 5.62rem;
      border-radius: 0.8rem;
      background: white !important;
    }
    .posts {
      border-radius: 0.8rem;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 395) {
  .container-home{
    display: flex;
    flex-direction: column;
  }
  .sidebar-left {
    display: flex;
    border: 1px red solid;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }
  .sidebar-rigth {
    display: flex;
    border: 1px blue solid;
    margin-right: 0.5rem;
    margin-top: 0.5rem;

  }
  .post{
    display: flex;
  }
}


