.container-home {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;

  .sidebar-left {
    width: 35%;
    border: 1px red solid;
  }
  .sidebar-rigth {
    width: 35%;
    border: 1px blue solid;
  }
  .posts {
    display: flex;
    flex-direction: column;
    width: 40%;
    border: 1px black solid;
    gap: 0.5rem;

    .create-post {
        height: 100px;
      border: 1px blue solid;
      border-radius: 0.8rem;
    }
    .posts {
      border: 1px red solid;
      border-radius: 0.8rem;
      width: 100%;
    }
  }
}
