@import "colors";

.form-create-comment {
  display: flex;
  justify-content: center;
  margin: 0.5rem;

  .input {
    line-height: 2rem;
    width: 25rem;
    font-size: 1rem;
    border-radius: 0.8rem;
    position: relative;
    background-color: $back-search-butons;
  }

  .input:hover {
    cursor: pointer;
  }
  .button-publish {
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    width: 5rem;
    top: 0.5rem;
    left: 20rem;
    right: 0;
    margin: auto;
    font-size: 25px;
  }

  .input-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: stretch;
  }
}
