@import "colors";

img {
    max-width: 100%;
    height: auto;
}
        section {
            padding: 10px 0;
        }
 ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
.contact-area {
    border-bottom: 1px solid #353C46;
    
}

.contact-content p {
    font-size: 15px;
    margin: 0px 0 60px;
    position: relative;
}

.contact-content p::after {
    background: #353C46;
    bottom: -30px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 50%;
}

.contact-content h6 {
    color: #8b9199;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.contact-content span {
    color: #353c47;
    margin: 0 10px;
}

.contact-social {
    margin-top: 20px;
}

.contact-social > ul {
    display: inline-flex;
}

.contact-social ul li a {
    color: #8b9199;
    display: inline-block;
    height: 30px;
    margin: 0 10px;
    padding-top: 7px;
    transition: all 0.4s ease 0s;
    width: 40px;
}

.contact-social ul li a:hover {
    border: 1px solid $color-logo;
    color: $color-logo;
}

.contact-content img {
    max-width: 13.125rem;
}

section, footer {
    background: $backgraund-color-secundary;
    color: #868c96;
}

footer p {
    padding: 20px 0;
    text-align: center;
}

footer img {
    width: 2.75rem;
}