.container-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;

    h2{
        font-size: 35px;
    }
    h5{
        font-size: 15px;
        width: 300px;
        
    }

    .container-form-login{
        align-items: center;
        background-color: #fff;
        border: none;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
        box-sizing: border-box;
        margin: 40px 0 0;
        padding: 20px 0 28px;
        width: 396px;
        
    }

    input{
        font-size: 17px;
        padding: 14px 16px;
        width: 330px;
        border: 1px solid #dddfe2;
        color: #1d2129;
        font-family: Helvetica, Arial, sans-serif;
        height: 22px;
        line-height: 16px;
        padding: 0 8px;
        vertical-align: middle;
    }
    
}

