@import "colors";

.container-postdetail{
    display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 0.5rem;
  background-color: $backgraund-color;

  .sidebar-left{
    width: 35%;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
  }
  .sidebar-rigth{
    width: 35%;
    border: 1px blue solid;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
  }
}

.container-post-detail {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.8rem;
  background-color: $backgraund-color-secundary;
  margin-top: 1rem;


  .container-post-post-detail {
    display: flex;
    flex-direction: column;
    text-align: left;
    line-height: 2rem;
    border: 1px solid rgb(209, 209, 209);
    background-color: $backgraund-color-secundary;
    margin-top: 1rem;
    font-size: 1rem;
  }
  .container-post-img-detail {
    width: 100%;
    padding: 0;
  }

  .container-head-post-detail {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    gap: 0.5rem;
    margin-left: 0.5rem;
  }

  .container-post-detail {
    line-height: 6rem;
  }

  .container-post-post-detail:hover {
    background-color: rgb(224, 224, 224);
    cursor: pointer;
  }
  .ico-lke-detail {
    color: $color-logo;
  }

  .container-like-comment-delete-detail{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .container-counter-detail {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;

    .like-length-detail {
      font-size: 0.8rem;
      color: gray;
      align-items: center;
      margin-left: 0.5rem;
    }
    .comment-length-detail {
      font-size: 0.8rem;
      color: gray;
      align-items: center;
      margin-right: 0.5rem;
      border: none;
      background-color: transparent;
    }
  }

  .container-like-comment-delete-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .avatar-user-modal-detail {
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 0.2rem;
  }
  .constainer-comment-one-detail {
    display: flex;
    flex-direction: row;
    .comment-detail {
      width: 90%;
      margin: 0.5rem;
      line-height: 2.5rem;
      border-radius: 1rem;
      background-color: rgb(238, 238, 238);
    }
    .container-like-one-detail {
      margin-top: 0.7rem;
      margin-left: -1rem;
      margin-right: 0.5rem;
    }
  }
}
